#objectsMainHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#objectsHolderHeader > h2 {
    margin-top: 50px;
}

#objectsHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.workHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    padding: 10px 0px;
    width: 300px;
}

.workHolder:hover {
    -webkit-transition: 0.5s;
    margin: 0px;
    width: 338px;
    border: 1px solid black;
}

.workImg {
    height: 200px;
    width: 300px;
}

.workName {
    margin: 0px;
    margin-top: 20px;
}