html, body {
    height: 100%;
    margin: 0px;
    background-color: #E2E0DB;
}

#baner {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: black;
    z-index: 1;
}

#logo-holder {
    width: 300px;
    padding-left: 50px;
}

#logo {
    margin: 0px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#links-holder {
    width: calc(100% - 300px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

.link {
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    color: white;
}

.link:hover {
    -webkit-transition: 1s;
    color: #cccccc;
}

#account-link {
    padding: 8px 15px;
    border-radius: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    background-color: #E2E0DB;
}


#pageContent {
    min-height: 630px;
}

/*---FOOTER---*/
#footer {
    width: 100%;
    height: 250px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

#footer > div {
    width: 33%;
    height: 250px;
    padding: 0px 30px;
}

#footer > * {
    color: white;
}

#footer > h2 {
    height: 0px;
}

#about-us {
    font-size: clamp(15px, 50%, 16px);
}

#nav-menu {
    display: flex;
    flex-direction: column;
}

#list {
    padding: 0px;
    margin: 0px;
    width: 80%;
}

#first-link {
    margin-top: 0px;
}

li {
    margin: 20px 0px 20px 0px;
    list-style-type: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #666666;
}

#contact {
    width: 20% !important;
}

.contact-data {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}

.contact-data > p {
    margin: 0px;
}

.fa {
    margin-right: 10px;
}