body {
    margin: 0px;
    background-color: #E2E0DB;
}

#baner {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

#logo-holder {
    width: 300px;
    padding-left: 50px;
}

#logo {
    margin: 0px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#links-holder {
    width: calc(100% - 300px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

#links-holder > a {
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    color: white;
}

#links-holder > a:hover {
    -webkit-transition: 1s;
    color: #cccccc;
}

#account-link {
    padding: 8px 15px;
    border-radius: 20px;
    text-align: center;
    color: black !important;
    background-color: #E2E0DB;
}