/*--OBJECTS--*/
#objectsMainHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#objectsHolderHeader > h2 {
    margin-top: 50px;
}

#objectsHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.workHolder {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-top: 1px solid black;
    padding: 15px 20px;
    width: 300px;
    transition: 0.5s background-color, 0.5s width;
}

.workHolder:hover {
    margin: 20px 19px 19px 19px;
    border: 1px solid black;
    background-color: white;
}

.workImg {
    height: 200px;
    width: 300px;
    cursor: pointer;
}

.workImg:hover {
    opacity: 50%;
}

.workName {
    margin: 0px;
    margin-top: 20px;
}