#tableDiv {
    float: left;
    width: 50%;
}

#option-header {
    width: calc(100% - 20px);
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: white;
}

.delete-user-button {
    text-align: center;
    padding: 3px 5px;
    cursor: pointer;
}

#x-icon {
    color: red !important;
}

#table-overwflow {
    width: 100%;
    overflow: auto; 
    max-height: 400px;
    border-radius: 6px;
}

#table-overwflow thead th {
    position: sticky; 
    top: 0; 
    z-index: 1;
}

#table-user {
    border-collapse: collapse;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

table thead tr {
    height: 40px;
    background-color: #bfbfbf;
}

th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
    background-color: #bfbfbf;  
}

tbody tr:nth-child(odd):hover {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr {
    cursor: pointer;
    color: gray;
    background-color: white;
    text-align: center;
}

td {
    padding: 10px 20px;
    margin: 0px !important;
    vertical-align: middle;
}