body {
    margin: 0px;
    background-color: #E2E0DB;
}

#baner {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
}

#logo-holder {
    width: 350px;
    padding-left: 50px;
}

#logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#logo-admin-panel {
    font-size: 14px;
    text-align: center;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#left-menu {
    width: 300px;
    height: calc(100vh - 70px);
    background-color: black;
}

.links-menu {
    text-decoration: none;
}

.option {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    color: white;
    background-color: black;
}

.hover:hover {
    background-color: #666666;
}

.hover {
    padding: 15px 0px;
}

.main-option {
    margin: 0px;
    margin-left: 50px;
}

.others-option {
    display: none;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
}

.holder-option:hover .others-option {
    display: block;   
}

.others-option:hover {
    background-color: #666666;
}

.other-option {
    margin: 0px;
    margin-left: 80px;
}

#pageContent {
    width: calc(100% - 300px);
}

