#content-holder {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 5px #bfbfbf;
    border-radius: 6px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
}

#other-content-holder {
    width: 100%;
    height: 500px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}

#header > h1 {
    margin-top: 0px;
    margin-bottom: 15px;
}

#header > p {
    margin-top: 0px;
    font-size: 15px;
}

#login-data-holder {
    width: 100%;
}

#inputs-holder, #other-data-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 80%;
    margin: 10px 0px 10px 0px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: 1px solid #bfbfbf;
}

.input:focus {
    -webkit-transition: 0.5s;
    border-bottom: 1px solid black;
}

#other-data-holder {
    padding-top: 20px;
}

#button-holder {
    padding: 10px 0px 20px;
}

#button-holder > button {
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    width: 120px;
}